<div ng-controller="displayInfoCtrl">
   
    <div class="row" >    	 
	    <div class="col-xs-4 columnAlign"> 
	    	<div class="text-center">
	    		<button type="button" class="btn btn-warning" ng-click="showFaculties()">Show Faculties</button> 
	    	</div>   		
	        <p class="display bg-info" ng-repeat="item in populateResults" ng-click="showGroups($event)"><b>{{item.faculty_name}}</b></p>  
            <pagination populate-results="populateResults" page-num="pageNum" result="result"></pagination>
	    </div>

	    <div class="col-xs-4 columnAlign">
	    	<div>
	    		<b>Group (Speciality):</b>   
	    	</div>	
	    	<p class="display bg-info" ng-repeat="item in populateResultsGroup" ng-click="showStudents($event)"><b>{{item.group_name}}</b></p>
	    	<pagination populate-results="populateResultsGroup" page-num="pageNumGroup" result="groupsSelected"></pagination>
	    </div>

	    <div class="col-xs-4 columnAlign"> 
	     	<div>
	    		<b>Students:</b>   
	    	</div>	
	    	<p class="display bg-info" ng-repeat="item in populateResultsStudents"><b>{{item.student_surname}}</b></p> 
	    	<pagination populate-results="populateResultsStudents" page-num="pageNumStud" result="studentsSelected"></pagination>
	    </div>
	</div>   
	<div class="row">    	 
	    <div class="col-xs-12">
	     	<b>Student results:</b>  
	    </div>
	</div> 

</div> 


    